//    COLORS   \\

// Dymmer colors
$light-blue: #4B91B1;
$blue: #4989A7;
$dark-violete: #333366;

// White
$white: #F5F5F5;
$dark-white: #E7E7E7;

// Grey
$light-grey: #C2C1C1;

$grey: #CACACA;
$grey-second: #999999;
$grey-third: #666666; // The max of subvariables is three!

$dark-grey: #6A6A6A;

// Black
$light-black: rgba(0,0,0,0.05);
$thin-black: rgba(0,0,0,0.1);
$black-second: rgba(0,0,0,0.4);

// Green
$light-green: #75CC84;
$green: #73C280;

// Red
$light-red: #CE7676;
$red: #C16E6E;

// Purple
$light-purple: #A68BBA;
$purple: #9981AB;

// Orange
$light-orange: #EB997D;
$orange: #D48D74;

// Others
$color-font: #999999;
$link: #16759F;